#Hologram-Create{
    margin-top:1%;
    height:97%;
}

#Hologram-Create .title{
    border-bottom:1px solid #000;
    margin-bottom:3%;
}

.scene{
    padding:0px;
}
.error{
    position: absolute;
    margin-left:10px;
    color:red;
}
.camera,.Light,.Model{
    width:100%;
    margin-bottom:15px;
    border-bottom:1px solid #222222;
}
.showColor{
    float: left;
    width: 10%;
    height: 30px;
    margin-left: 10px;
    border: 1px solid;
}
canvas{
    background-color: #000;
    width:100%;
    height:100%;
}