#Hologram-Create{
    margin-top:20px;
}

#Hologram-Create .title{
    border-bottom:1px solid #000;
    margin-bottom:3%;
}

.scene{
    padding:15px;
}
.camera{
    width:100%;
    margin-bottom:15px;
}