.active{
    font-size:1.2em;
    color:rgb(206, 189, 189);
    text-decoration:none;
}

.active:hover{
    color:#eeeeee;
    text-decoration:none;
}

#HologramList{
    margin-top:20px;
    width:80%;
    margin-left:10%;
    margin-right:10%;
}

#HologramList .title{
    border-bottom:1px solid #000;
    margin-bottom:3%;
}

#HologramList .query{
    margin-bottom:3%;
}