.menu{
    font-size:1.2em;
    color:rgb(206, 189, 189);
    text-decoration:none;
}

.menu:hover{
    color:#eeeeee;
    text-decoration:none;
}

#HologramList{
    margin-top:20px;
}

#HologramList .title{
    border-bottom:1px solid #000;
    margin-bottom:3%;
}

#HologramList .query{
    margin-bottom:3%;
}