.login{    
    margin-top:10%;
    margin-left:5%;
    margin-right:5%;
    padding:5%;
    width:90%;
    border:#ccc 1px solid;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
}
.login h2{
    width:80%;
    margin:10px 10% 20px 10%;
    text-align:center;
}
.form-input{
    width:80%;
    margin-left:10px;
}
.form-verification-input{
    width:40%;
    margin-left:10px;
    margin-right:10px;
}
.error{
    color:red;
    font-size:0.8em;
    display:none;
}
.errorActive{
    display:block;
}
