body{
    margin:0;
    padding:0;
    overflow:hidden;
}
#canvas{   
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #000;
}
#control{
    width:100%;
    position: absolute;
    top:0;
    bottom:0;
    opacity:0;
}
#data{
    width: 100%;
    margin-top: 30px;
    margin-left: 5%;
    font-size: 1.2em;
    color: #fff;
    position: absolute;
}